@inherits LayoutComponentBase
@inject TokenState state


@* Required *@
<MudThemeProvider @bind-IsDarkMode="_isDarkMode" Theme="_theme" />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<MudAppBar Position="MudBlazor.Position.Top" Class="d-flex justify-space-between flex-grow-1 gap-4" Elevation="0" Dense>

    <MudItem>
        <MudButton Href="/" Variant="Variant.Text" Color="Color.Primary">
            ECinema
        </MudButton>
    </MudItem>
    <MudSpacer />
    <MudItem Class="d-flex">
        <CascadingAuthenticationState>
            <AuthorizeView>
                <Authorized>
                    @if (state.Role == "Admin")
                    {
                        <MudButton Href="/admin" Variant="Variant.Text" Color="Color.Error">
                            Admin
                        </MudButton>
                    }
                    <MudButton Href="/profile" Variant="Variant.Text" Color="Color.Primary">
                        Profile
                    </MudButton>
                    <MudButton Href="/logout" Variant="Variant.Text" Color="Color.Secondary">
                        Logout
                    </MudButton>
                </Authorized>
                <NotAuthorized>
                    <MudButton Href="/register" Variant="Variant.Text" Color="Color.Primary">
                        Register
                    </MudButton>
                    <MudButton Href="/login" Variant="Variant.Text" Color="Color.Primary">
                        Login
                    </MudButton>
                </NotAuthorized>
            </AuthorizeView>
        </CascadingAuthenticationState>
    </MudItem>
</MudAppBar>
@Body

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
@code {
    
    private MudTheme _theme = new();
    private bool _isDarkMode = true;
}