@using MudBlazor
@rendermode InteractiveServer
@inject HttpClient Http
@if (Cinemas != null)
{
    <MudCard>
        <MudCardContent>
            <MudText Typo="Typo.h5" Class="mb-4">Available on</MudText>
            <div style="display: flex; flex-direction: row; overflow-x: auto; gap: 16px; padding: 8px;">
                @foreach (var cinema in Cinemas)
                {
                    <MudCard Style="flex-shrink: 0;" Class="mud-elevation-3">
                        <MudCardContent>
                            <MudContainer>
                                <MudButton Href="@cinema.WebsiteUrl" Variant="Variant.Text" Color="Color.Secondary">
                                @cinema.CinemaName
                            </MudButton>
                             <MudButton Href="@GetURL(cinema.CinemaId)" Variant="Variant.Text" Color="Color.Primary">
                                Other films
                            </MudButton> 
                            </MudContainer>
                            
                            
                        </MudCardContent>
                    </MudCard>
                }
            </div>
        </MudCardContent>
    </MudCard>
}

@code {
    [Parameter] public int MovieId { get; set; }

    List<Cinema> Cinemas;

    protected override async Task OnInitializedAsync()
    {
        Cinemas = await Http.GetFromJsonAsync<List<Cinema>>($"api/cinema/movie/{MovieId}");
    }

    private string GetURL(int cinemaId) => $"/cinema/{cinemaId}";
}